@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  
}

@font-face {
  font-family: 'Myanmar Khyay';
  src: local('Myanmar Khyay Regular'), local('MyanmarKhyay-Regular'), url('/assets/fonts/Khyay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  @apply flex items-center gap-3 group-active:text-white hover:text-white transition-all;
}

.link-2 {
  @apply cursor-pointer hover:text-white  transition-all;
}

.link2-active {
  @apply cursor-pointer text-white font-medium transition-all;
}

.btn-1 {
  @apply border border-borderC w-max capitalize bg-[#1E1E1E] text-[#707070] py-3 px-[3rem] rounded-xl hover:text-white transition-all ;
}

.btn-1-active {
  @apply border border-borderC w-max capitalize bg-[#1E1E1E]  py-3 px-[3rem] rounded-xl text-white transition-all;
}

.fabric-canvas {
  width: 100%;
  height: 100%;
}

.border-element {
  @apply bg-transparent border-borderC border px-4 py-2 rounded-xl capitalize;
}

.button-glow {
  @apply  border-white border px-4 py-2 rounded-xl bg-dark;
  filter: drop-shadow(1px 2px 7px rgba(203, 203, 203, 0.6));
}

.label {
  font-family: 'Myanmar Khyay', sans-serif;
  @apply text-white font-normal;
}

.font-Myanmar {
   font-family: 'Myanmar Khyay', sans-serif;
}